<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.8.1" targetFramework="net461" />
  <package id="Autofac.Extras.CommonServiceLocator" version="5.0.0" targetFramework="net461" />
  <package id="AutoMapper" version="7.0.0" targetFramework="net461" />
  <package id="BouncyCastle" version="1.8.2" targetFramework="net461" />
  <package id="Castle.Core" version="4.3.0" targetFramework="net461" />
  <package id="CommonServiceLocator" version="2.0.1" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="FluentValidation" version="9.2.2" targetFramework="net472" />
  <package id="MailKit" version="2.0.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.Client" version="2.3.0" targetFramework="net461" />
  <package id="MimeKit" version="2.0.6" targetFramework="net461" />
  <package id="Moq" version="4.8.3" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="NUnit" version="3.10.1" targetFramework="net461" />
  <package id="NUnit3TestAdapter" version="3.10.0" targetFramework="net461" />
  <package id="PostSharp.Patterns.Aggregation.Redist" version="6.6.14" targetFramework="net472" />
  <package id="PostSharp.Patterns.Common.Redist" version="6.6.14" targetFramework="net472" />
  <package id="PostSharp.Redist" version="6.6.14" targetFramework="net472" />
  <package id="Quartz" version="3.0.6" targetFramework="net461" />
  <package id="System.Reactive" version="4.4.1" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>