################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.lock
.vs/

TobeConsolePractise/bin
TobeConsolePractise/obj

MathLibrary/bin
MathLibrary/obj

RefereeConsoleApp/bin
RefereeConsoleApp/obj

VbConsoleApp/bin
VbConsoleApp/obj

packages